/*----------------------nav---------------------------------*/
@import url('../css/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

/*-------------variable-----------------------*/
:root{
    /*-------------fonts-------------------*/
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --lexend:'lexend',cursive;
    --Livvic:'Livvic',cursive;
    /*--------x-----fonts-----------x--------*/
     /*-------------color-------------------*/
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --midnight:#104f55;
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --crimson: #DC143C;
    --lightGray:#D3D3D3;
    --yellow:#e19c30;
    
    /*--------x-----color------------x-------*/
}
/*-------x------variable -----------x--------*/


/*-------------global class-----------------*/
a{
    text-decoration: none;
    color: var(--text-gray);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}

h1{
    font-family: var(--lexend);
    font-size: 2.5rem;
}
h2{
    font-family: var(--lexend);

}
h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;

}
span{
  font-family: var(--Abel);  
}

.container{
    margin:0 5vw;

}
.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--lexend);
    color: var(--text-light);
}
/*--------x-----global class------x-------------------------------*/


/*-------------navbar--------------------------------------------------------------*/
.nav{
    background: white;
    padding: 0.2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition:height 1s ease-in-out;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display:none ;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);

}
.collapse{
    height: 30rem;
}
.nav .nav-menu{
    justify-content:space-between ;
}

.nav .nav-items{
    display: flex;
    margin:0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    
    
}
.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}
.nav .nav-items .nav-link:hover a{
    color: white;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family:var(--lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 0.2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}
/*----------------------nav---------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--Abel);
}
.container-el{
    width: 100%;

}
.container-el .row{
    width: 80%;
    margin: auto;
}
.container-el .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}
.container-el .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color:var(--yellow);
}

.container-el .row .header p{
 margin-top: 15px;
 font-size: 18px;
 line-height: 1.5;
 color: var(--text-gray);

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.content .card img{
    width: 100%;
    height: auto;
}


.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
} 


.content .card p{
    font-size: 15px;
    color:var(--text-gray) ;
    line-height: 1.5;
    padding: 10px;
}

@media screen and(max-width:768px){
    .content{
      flex-direction: column;
    }

}
    